<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.slider.DateSlider">

    <uses-sdk />

    <!--<application
        android:icon="@drawable/icon"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name=".Demo"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    -->
</manifest>